In [1]:
l = [1, 2, 3]
len(l)

3

In [20]:
l.append([10,25])
l

[1, 2, 3, 25, [10, 25]]

In [21]:
l.insert(0,23)
l

[23, 1, 2, 3, 25, [10, 25]]

In [22]:
l.extend([23,24,21])
l

[23, 1, 2, 3, 25, [10, 25], 23, 24, 21]

In [24]:
m = [1,2,3]
k = m
k.append(4)
m

[1, 2, 3, 4]

In [28]:
m = [1,2,3]
k = m.copy()
k.append(4)
m

[1, 2, 3]

In [29]:
i = [1,2,3,5,2]
i.remove(2)
i

[1, 3, 5, 2]

In [30]:
i = [1,2,3,5,2]
i.index(2)

1

In [32]:
squares = [x**2 for x in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
even = [x for x in range(1,11) if x%2 == 0]
even

[2, 4, 6, 8, 10]

In [36]:
prime = [x for x in range(1, ) for y in range(1, 100) if x % y == 0 and x != y and x != 1]
prime

[2,
 3,
 4,
 4,
 5,
 6,
 6,
 6,
 7,
 8,
 8,
 8,
 9,
 9,
 10,
 10,
 10,
 11,
 12,
 12,
 12,
 12,
 12,
 13,
 14,
 14,
 14,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 17,
 18,
 18,
 18,
 18,
 18,
 19,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 22,
 22,
 22,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 26,
 26,
 26,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 29,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 31,
 32,
 32,
 32,
 32,
 32,
 33,
 33,
 33,
 34,
 34,
 34,
 35,
 35,
 35,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 37,
 38,
 38,
 38,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 41,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 43,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 45,
 45,
 45,
 46,
 46,
 46,
 47,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 49,
 49,
 50,
 50,
 50,
 50,
 50,
 51,
 51,
 51,
 52,
 52,
 52,
 52,
 52,
 53,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 55,
 55,
 55,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 57,
 57,
 57,
 58,
 58,
 58,
 59,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 61,
 62,
 62,
 62,
 63,
 63,
 63,
 63,
 63,
 64,
 64,
 64,
 64,
 64,
 64,
 65,
 65,
 65,
 66,
 66,
 66,
 66,
 66,
 66,
 66,
 67,
 68,
 68,
 68,
 68,
 68,
 69,
 69,
 69,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 71,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 73,
 74,
 74,
 74,
 75,
 75,
 75,
 75,
 75,
 76,
 76,
 76,
 76,
 76,
 77,
 77,
 77,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 79,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 81,
 81,
 81,
 81,
 82,
 82,
 82,
 83,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 85,
 85,
 85,
 86,
 86,
 86,
 87,
 87,
 87,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 89,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 91,
 91,
 91,
 92,
 92,
 92,
 92,
 92,
 93,
 93,
 93,
 94,
 94,
 94,
 95,
 95,
 95,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 97,
 98,
 98,
 98,
 98,
 98,
 99,
 99,
 99,
 99,
 99]

In [40]:
x = 2
y = 3
x % y == 0 and x != y and x != 1

False

In [65]:
nonprime = sorted(list(set([x for x in range(1, 10) for y in range(2, x) if (x % y == 0 and x != y)])))
nonprime

[4, 6, 8, 9]

In [66]:
l = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
[y for x in l for y in x]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
matrix = [[1,2,3],[4,5,6]]
[ [row[i] for row in matrix] for i in range(len(matrix[0]))]

[[1, 4], [2, 5], [3, 6]]

In [80]:
d = {"a":123, 1:456, "c":789}
d

{'a': 123, 1: 456, 'c': 789}

In [81]:
d.keys()

dict_keys(['a', 1, 'c'])

In [82]:
d.values()

dict_values([123, 456, 789])

In [83]:
d.items()

dict_items([('a', 123), (1, 456), ('c', 789)])

In [86]:
d = {"a":123, "b":456, "c":789}
for k,v in d.items():
    print(k, v)

a 123
b 456
c 789

In [92]:
squares = {x:x**2 for x in range(1,6)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [95]:
d = dict([('a',1),('b',2)])
d

{'a': 1, 'b': 2}

In [97]:
t = tuple()
type(t)

tuple

In [98]:
t = (32,23,12)
t[0] =

32

In [99]:
t = (32,23,12)
t[0] = 21

TypeError: 'tuple' object does not support item assignment

1

In [110]:
t = (1, 2, 3)
i, j, k = t
i

1

In [109]:
t = 1, 2, "hello"
t

(1, 2, 'hello')

In [111]:
s = set()
type(s)

set

In [121]:
s = {1, 4, 2, 3}
s

{1, 2, 3, 4}

In [129]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a & b #Interesection

{3, 4}

In [130]:
a | b #Union

{1, 2, 3, 4, 5, 6}

In [131]:
a - b #difference

{1, 2}

In [132]:
a ^ b #symmetric difference. Elemenets present in A and B but not in both

{1, 2, 5, 6}

In [134]:
primes = {x for x in range(2,10) if all(x%y != 0 for y in range(2,x) )}
primes

{2, 3, 5, 7}

In [139]:
l = [1,2,3,4]
squares = list(map(lambda x: x**2, l))
squares

[1, 4, 9, 16]

In [143]:
func = [lambda x: x**2, lambda y: y**3]
for i in range(1,5):
    print(list(map(lambda f: f(i),func)))

[1, 1]
[4, 8]
[9, 27]
[16, 64]

In [147]:
def isprime(n):
    cnt = 0
    for i in range(2,n):
        if n % i == 0:
            return False
    return True
        
primes = list(filter(isprime, range(2,20)))
primes

[2, 3, 5, 7, 11, 13, 17, 19]

In [148]:
#return the sublists where first element of the sublist is less than 5

nl = [[1,2],[4,5],[9,10],[2,6],[7,9]]

r = list(filter(lambda x: x[0]<5,nl))

r

[[1, 2], [4, 5], [2, 6]]

In [153]:
[(x,y,z) for x in range(1,20) for y in range(x,20) for z in range(y,20) if x**2 + y**2 == z**2]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

In [161]:
#list of squares of even numbers with in 30
[x**2 for x in range(1,30) if x % 2 == 0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784]

In [167]:
#check if all the numbers of a list or divisible by 2
l = [2,4,6,8,10]
if len(list(filter(lambda x: x%2==0,l))) == len(l):
 print("true")

true

In [171]:
l = [12, -9, 61, 5, 14]
all(x > 0 for x in l)

False

In [182]:
s = '1234'
s[::-1]

'4321'

In [186]:
#From list of integers, check if ALL the integers are positive, and then ANY of the integer is a polindrome
def checkpp(l = []):
    return (all(i > 0 for i in l) and any(str(s)[::-1] == str(s) for s in l))


print(checkpp([12, 21, 11, 53, 42]))
print(checkpp([12, 21, 11, 53, -42]))

True
False